body {
    background-color: #fdf6e3;
}

a:link, a:visited {
    background: none;
    text-shadow: none;
    text-decoration: underline;
}

.about-center {
    text-align: center;
}

h1, h2, h3 {
    color: #657b83;
}
