:root {
    --bg-color: #192130;
    --base-color: rgb(159, 167, 175);
    --text-color: rgb(230, 233, 236);
    --link-color: rgb(0, 167, 182);
    --accent-color: rgb(255, 184, 102);
    --highlight-color: rgb(177, 117, 221);
}

body {
    font-family: 'Roboto Mono';
    color: var(--text-color);
    background-color: var(--bg-color);
    padding-left: 0;
    margin: auto;
}

h1, h2, h3, h4, h5 {
    color: var(--text-color);
}

.list-st {
    color: var(--text-color);
    font-style: italic;
}

h1 {
    margin-bottom: 0;
}

article {
    padding: 0;
}

a:link, a:visited {
    color: var(--link-color);
    background: none;
    text-shadow: none;
    text-decoration: underline;
}

p, dl, ol, ul {
    font-size: 16px;
}

#header {
    text-align: center;
}

#header hr, #footer hr {
    width: 100%;
}

#footer {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    color: var(--base-color);
}

.sidenote, .marginnote {
    font-size: 1em;
}

.note, .insight {
    width: 55%;
    padding: 15px;
    border-radius: 10px;
}

.note-header, .insight-header {
    font-size: 1.5em;
}

.note {
    background-color: rgb(235, 229, 240);
}

.note-header {
    color: var(--highlight-color);
}

.insight {
    background-color: rgb(233, 241, 252);
}

.insight-header {
    color: rgb(10, 109, 221);
}


blockquote {
    display: block;
    margin: 0;
    width: 55%;
    padding: 1px 3px 1px 7px;
    border-left: var(--accent-color) 5px solid;
    background-color: var(--base-color);
}

blockquote p {
    width: 100%;
    font-size: 1em;
    font-family: 'Spectral', serif;
    font-style: italic;
    color: #000;
}

#title {
    font-size: 4.5em;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 1.5em;
    color: var(--base-color);
}

.poem {
    display: block;
    white-space: pre;
    width: 55%;
    padding-left: 7px;
    padding-right: 5px;
    border-left: var(--accent-color) 5px solid;
    background-color: var(--base-color);
}

.poem p {
    margin: 0;
    font-size: 1.4em;
    font-family: 'Spectral', serif;
    font-style: italic;
    color: #000;
}

.multiline-quote {
    padding-left: 7px;
    padding-right: 5px;
    border-left: var(--accent-color) 5px solid;
    background-color: var(--base-color);
    font-style: italic;
    margin: 0;
    width: 55%;
}

kbd {
    padding: 0.1em 0.6em;
    border: 1px solid #ccc;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #f7f7f7;
    color: #333
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;
}

.pull {
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    border-top: var(--base-color) 3px solid;
    border-bottom: var(--base-color) 3px solid;
    width: 55%;
}

.transclusion-title {
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
}

pre > code {
    width: 100%;
    font-size: 0.95em;
}

@media (max-width: 760px) {
    .multiline-quote {
	width: 100%;
    }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

td,
th {
  padding: 0;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

table td>:last-child {
  margin-bottom: 0;
}

table tr {
  border-top: 1px solid hsla(210,18%,87%,1);
}

table tr:nth-child(2n) {
    background-color: #191b30;
}

.quote-ref p {
    margin-top: 0px;
    margin-bottom: 1.4rem;
    color: var(--base-color);
    font-size: 1em;
}
