---
layout: default
---

<div class="row">
  <div class="col-md-6 col-xs-12">

    <h2>Blog Posts:</h2>
    {% for post in site.categories.blog limit:5 %}
      <div class='index-post'>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <div class="index-post-date">
          {{ post.date | date: "%b %-d, %Y" }}
        </div>
        <div class="index-post-body">
          {{ post.excerpt }}
        </div>
      </div>
    {% endfor %}

    <a href="/archive">blog archive</a>

  </div>

  <div class="col-md-6 col-xs-12">

    <h2>The Week's Readings:</h2>
    {% for weekly in site.categories.weeklies limit:1 %}
      <h4><a href="{{ weekly.url }}">{{ weekly.title }}</a></h4>

      <ul>
        {% for link in weekly.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>

    {% endfor %}

  </div>
</div>

{% include stats.html %}
