<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}dan pittman :: {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/fa.css">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/bs.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- Twitter card things -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:image" content="https://dpitt.me/images/chicken%20square.jpg" />
  <meta name="twitter:url" content="{{ page.url }}" />
  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}" />
  {% endif %}


</head>
